.ht {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
}

.stPosbtn {
  position: fixed;
  top: 102px;
  background-color: rgb(1, 94, 97);
  /* left: 0; */
  z-index: 1030;
  /* right: 5px; */
}

.stPos {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
}

.bz {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.bg {
  display: flexbox;
  width: 60%;
  height: 60%;
  align-items: center;
  background-color: black;
  border: 2px solid red;
}

/* Singup and login css */
.f1 {

  position: relative;
  display: inline-block;
  width: 20em;
  height: 100%;
  /*             
  top: 100px;
  right: 500px; */
  padding: 15px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.f1 li {

  list-style: none;
}

.in {
  display: inline-block;
  font-size: 80%;
  margin: 8px -15px;
  color: rgb(27, 40, 52);
  border-radius: 8px;
  /* margin: auto; */
  padding: 5px 10px;
  width: 95%;
  height: 2.5em;
}

.sub {
  font-size: 15px;
  margin: 7 -2px;
  padding: auto 5px;
  width: 95%;
  height: 35px;

}

.sub:hover {
  text-decoration: underline;
  /* background-color: #c7f6f3; */
  border-radius: 10px;
  cursor: pointer;

}
@media (min-width: 600px) {
  .main_fo {
    /* position: relative; */
  position: absolute;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
  top: 10px;
  width: 100%;
  height: 100%;
  }
  .fo1 {
    display: flex;
  position: relative;
  top: 50vh;
  flex-direction: column;
  left: 10px;
  width: 70%;
  height: 60vh;
  /* border: 3px solid black; */
  border-radius: 8px;
  box-shadow: 2px 2px 18px #1f2222;

  /* justify-content: center;
  align-items: center; */
  
  }

}

.main_fo {
  /* position: relative; */
  position: absolute;
  /* border: 3px solid black; */
  /* border-radius: 8px; */
  /* padding: 15px; */
  justify-content: center;
  align-items: center;
  color: aliceblue;
  /* box-shadow: 5px 5px 10px rgb(10, 9, 9);
  background-color: #7be3df; */
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
  top: 4vh;
  width: 100%;
  height: 100vh;
}

.fo1 {
  display: flex;
  position: relative;
  top: 20vh;
  flex-direction: column;
  left: 40px;
  width: 20em;
  height: 25em;
  /* border: 3px solid black; */
  border-radius: 8px;
  box-shadow: 2px 2px 18px #03e9d4;

  justify-content: center;
  align-items: center;


}
.btnsp{
  position: relative;
  color: rgb(22, 22, 21);
  text-decoration: underline;

}


.fo1 h1 {
  display: absolute;
  margin: 20px auto;
  background-color: #278f8b;
  padding: 3px 4px;
  border-radius: 10px;

}

/* .fo1::before {
  content: "";
  display: flex;
  position: absolute;
  width: 98%;
  height: 500px;
  z-index: -1;
  padding: 10px 10px;


} */